<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PageNest</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  <h1>PageNest</h1>
  <a href="{{ url_for('cart') }}" class="cart-btn">My Cart</a>
  <a href="{{ url_for('sell') }}" class="continue-btn">Sell Your Book</a>
</header>

<section class="products" id="productList"></section>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>