<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | BookStore</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="center-page">

  <div class="login-card">
    <h2>Welcome Dear Reader, To PageNest</h2>

    <input type="email" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Password">

    <div class="button-row">
      <button onclick="login()">Login</button>
      <button onclick="register()">Register</button>
    </div>

    <p class="link">
      <a href="{{ url_for('home') }}">Or Continue without Logging In</a>
    </p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>